body{
  max-width: 1230px;
  min-width: 320px;
  // width: 100vw;
  // height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
[name="searchQuery"]{
  border-radius: 35px;
  margin-right: 15px;
display: inline-flex;
  text-decoration: none;
  border: 2px solid #44a2ee;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: rgb(8, 8, 8);
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  transition: box-shadow 0.3s, transform 0.3s;

}
[type="submit"]{
  border-radius: 35px;
  display: inline-flex;
    text-decoration: none;
    border: 5px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background:hsl(320, 83%, 56%);
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
.search-form{
  
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.gallery{
  width: 1200px;
  // height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // flex-basis: calc((100% -4*30px)/4);
}
.info-item:not(:last-child){
  margin-right: 10px;
}
.info-item{
  justify-content: center;
  font-size: 15px;

}

.photo-card {
  max-width: 25%;
  width: 280px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.24);
  margin: 10px;
}


.info{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // padding: 10px;
  background-color: #fff;
}
.photo-card img {
  width: 100%;
  height: 200px;
  // margin :15px;
  object-fit: cover;
  
}
.load-more{
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 35px;
    border: 5px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: hsl(320, 83%, 56%);
    // transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  // .load-more:hover,
  // .load-more:active,
  // .load-more:focus {
  //   transform: translateY(-4px);
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  //   color: #FFF;
  // }


// .load-more:before{
//   content: "";
//     position: absolute;
//     top: 0;
//     left: -100%;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
//     transition: left 0.7s;
// }
